/* Globals */
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

a,
a:focus,
a:hover {
  color: #000;
}

h1 {
  font-size: 2.25rem;
}

/* Styles */
.btn {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.btn-outline-secondary {
  color: #fff;
  background-color: #5000ff;
}

.lead {
  color: rgb(97, 97, 97);
}

.text-muted {
  font-size: 0.85rem;
  text-align: left;
}

.cover-container {
  max-width: 42em;
}

.hero-img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 500;
  color: rgb(146, 146, 146);
  background-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/* Footer */
.mastfoot {
  color: #000;
}
